{{#partial "head"}}

{{/partial}}
{{#partial "body"}}
    <div>
        <br>
        <button class="btn btn-primary" onclick="location.href='/api/v1/admin/employee/add'">Add Employee</button>
        <br>
        <br>
        <table id="results" class="display cell-border hover" width="100%">
            <thead>
            <tr>
                <th align="center">Employee ID</th>
                <th align="center">User Name</th>
                <th align="center">First Name</th>
                <th align="center">Last Name</th>
                <th align="center">User Type</th>
                <th align="center">Email</th>
                <th align="center">Phone Number</th>
                <th align="center">SSN</th>
                <th align="center">Delete</th>
            </tr>
            </thead>
            <tbody>
            {{#each result }}
                <form method="POST">
                    <tr>
                        <td align="center">{{ id }}</td>
                        <td align="center">{{ userName }}</td>
                        <td align="center">{{ firstName }}</td>
                        <td align="center">{{ lastName }}</td>
                        <td align="center">{{ userType }}</td>
                        <td align="center">{{ email }}</td>
                        <td align="center">{{ phoneNumber }}</td>
                        <td align="center">{{ ssn }}</td>
                        <td align="center">
                            <input id="delete" class="btn btn-danger"  type="button" name="delete" onclick="location.href='/api/v1/admin/delete/{{ id }}'" value="Delete"/>
                        </td>
                    </tr>
                </form>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}

{{#partial "scripts"}}
{{/partial}}
{{> adminBase}}