<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/5.12.0/css/fontawesome.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/datatables/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/profileHandler.js"></script>
    {{#block "head"}}
    {{!-- Custom <head> content per page could be added. --}}
    {{/block}}
</head>
<body>
<header>
    {{#block "bodyHeader"}}
    {{!-- Hero content goes here. --}}
    {{/block}}
</header>
<div class="ml-xl-5 mr-xl-5">
    <div class="container">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-lg-3 control-label">User Name:</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" id="userName" name="userName" value="{{ userName }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">First Name:</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" id="firstName" name="firstName" value=" {{ firstName }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Last Name:</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" id="lastName" name="lastName" value="{{ lastName }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" id="email" name="email" value="{{ email }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Phone Number:</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" id="phoneNumber" name="phoneNumber" value="{{ phoneNumber }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">SSN:</label>
                <div class="col-lg-8">
                    <input class="form-control" type="text" id="ssn" name="ssn" value="{{ ssn }}" readonly>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    {{#block "profileUser"}}

                    {{/block}}
                    <span></span>
                    <input type="submit" id="save" class="btn btn-primary" value="Save" disabled>
                </div>
            </div>
        </form>
    </div>
</div>


{{#block "scripts"}}
{{!-- Hero content goes here. --}}
{{/block}}
</body>
</html>