{{#partial "head"}}

{{/partial}}
{{#partial "body"}}
    <div>
        <table id="results" width="100%">
            <thead>
            <tr>
                <th align="center">Request ID</th>
                <th align="center">Request Type</th>
                <th align="center">Status</th>
                <th align="center">UserId</th>
                <th align="center">Description</th>
                <th align="center">Approve/Deny</th>
            </tr>
            </thead>
            <tbody>

            {{#each result }}
                <tr>
                    <td align="center">{{ requestId }}</td>
                    <td align="center">{{ requestType }}</td>
                    <td align="center">{{ status }}</td>
                    <td align="center">{{ userId }}</td>
                    <td align="center">{{ description }}</td>
                    <td align="center">
                    {{#eq transactionStatus "PENDING"}}
                        <form method="post" action="/api/v1/tier1/approveModification" class="inline">
                            <input type="text" name="id" value="{{requestId}}" style="display: none">
                            <input id="update" class="btn btn-primary" type="submit" name="approve"
                                   value="Approve"/>
                        </form>
                        <form method="post" action="/api/v1/tier1/denyModification" class="inline">
                            <input type="text" name="id" value="{{requestId}}" style="display: none">
                            <input id="delete" class="btn btn-danger" type="submit" name="deny"
                                   value="Deny"/>
                        </form>
                    {{ else }}
                        -
                    {{/eq}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script type="text/javascript" src="/js/dataTableHandler.js"></script>
{{/partial}}
{{> tier1Base}}