{{#partial "head"}}

{{/partial}}
{{#partial "body"}}
    <div>
        <br>
        <button class="btn btn-primary" onclick="location.href='/api/v1/tier1/createTransaction'">Create Transaction
        </button>
        <br>
        <br>
        <table id="results" class="display cell-border hover" width="100%">
            <thead>
            <tr>
                <th align="center">Modified Date</th>
                <th align="center">Created Date</th>
                <th align="center">Transaction ID</th>
                <th align="center">Status</th>
                <th align="center">Description</th>
                <th align="center">From Account</th>
                <th align="center">To Account</th>
                <th align="center">Amount</th>
                <th align="center">Type</th>
                <!--                <th align="center">Approve/Deny</th>-->
            </tr>
            </thead>
            <tbody>
            {{#each result }}
                <form method="POST">
                    <tr>
                        <td align="center">{{ modifiedDate }}</td>
                        <td align="center">{{ createdDate }}</td>
                        <td align="center">{{ transactionId }}</td>
                        <td align="center">{{ status }}</td>
                        <td align="center">{{ description }}</td>
                        <td align="center">{{ fromAccount }}</td>
                        <td align="center">{{ toAccount }}</td>
                        <td align="center">{{ transactionAmount }}</td>
                        <td align="center">{{ transactionType }}</td>
                    </tr>
                </form>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}

{{#partial "scripts"}}

{{/partial}}
{{> tier1Base}}