{{#partial "head"}}

{{/partial}}
{{#partial "body"}}
    <link rel="stylesheet" type="text/css" href="/css/t2UA.css">
    <div>
        <br>
        <button class="btn btn-primary" onclick="location.href='/api/v1/tier2/user/add'">Add User</button>
        <br>
        <br>
        <table id="userResults" width="100%">
            <thead>
            <tr>
                <th align="center">User ID</th>
                <th align="center">User Name</th>
                <th align="center">First Name</th>
                <th align="center">Last Name</th>
                <th align="center">Date Of Birth</th>
                <th align="center">User Type</th>
                <th align="center">Email</th>
                <th align="center">Phone Number</th>
                <th align="center">SSN</th>
                <th align="center">Update/Delete</th>
            </tr>
            </thead>
            <tbody>
            {{#each userResults }}
                <form method="POST">
                    <tr>
                        <td align="center">{{ id }}</td>
                        <td align="center">{{ userName }}</td>
                        <td align="center">{{ firstName }}</td>
                        <td align="center">{{ lastName }}</td>
                        <td align="center">{{ dateOfBirth }}</td>
                        <td align="center">{{ userType }}</td>
                        <td align="center">{{ email }}</td>
                        <td align="center">{{ phoneNumber }}</td>
                        <td align="center">{{ ssn }}</td>
                        <td align="center">
                            <input id="update" class="btn btn-primary" type="button" name="update" onclick="location.href='/api/v1/tier2/viewUser/{{ id }}'" value="Update"/>
                            <input id="delete" class="btn btn-primary"  type="button" name="delete" onclick="location.href='/api/v1/tier2/viewUser/{{ id }}'" value="Delete"/>
                            <input id="view" class="btn btn-primary" type="button" name="view" onclick="location.href='/api/v1/tier2/viewUser/{{ id }}'"value="View"/>
                        </td>
                    </tr>
                </form>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}

{{#partial "scripts"}}
    <script type="text/javascript" src="/js/tier2Handler.js"></script>
{{/partial}}
{{>tier2Base}}