{{#partial "head"}}

{{/partial}}
{{#partial "body"}}
    <div>
        <table id="results" width="100%">
            <thead>
            <tr>
                <th align="center">Cheque ID</th>
                <th align="center">Account ID</th>
                <th align="center">User ID</th>
                <th align="center">Transaction ID</th>
                <th align="center">Status</th>
                <th align="center">Cheque Amount</th>
                <th align="center">Approve/Deny</th>
            </tr>
            </thead>
            <tbody>

            {{#each result }}
                <tr>
                    <td align="center">{{ chequeId }}</td>
                    <td align="center">{{ accountId }}</td>
                    <td align="center">{{ userId }}</td>
                    <td align="center">{{ transactionId }}</td>
                    <td align="center">{{ transactionStatus }}</td>
                    <td align="center">{{ chequeAmount }}</td>
                    <td align="center">
                    {{#eq transactionStatus "PENDING"}}
                        <form method="post" action="/api/v1/tier1/clearCheque" class="inline">
                            <input type="text" name="chequeId" value="{{chequeId}}" style="display: none">
                            <input id="update" class="btn btn-primary" type="submit" name="approve"
                                   value="Approve"/>
                        </form>
                        <form method="post" action="/api/v1/tier1/denyCheque" class="inline">
                            <input type="text" name="chequeId" value="{{chequeId}}" style="display: none">
                            <input id="delete" class="btn btn-danger" type="submit" name="deny"
                                   value="Deny"/>
                        </form>
                    {{ else }}
                        -
                    {{/eq}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
{{/partial}}

{{#partial "scripts"}}
{{/partial}}
{{> tier1Base}}